@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
	--hue-color: 290;
	--body-font: "Poppins", sans-serif;

	--body-color: hsl(var(--hue-color), 30%, 6%);
	--accent-color: hsl(var(--hue-color), 20%, 15%);
	--font-color: hsl(var(--hue-color), 8%, 75%);
	--title-color: hsl(var(--hue-color), 8%, 95%);
	--primary-color: hsl(var(--hue-color), 50%, 50%);
	--secondary-color: hsl(var(--hue-color), 30%, 70%);
	--text-color: hsl(var(--hue-color), 100%, 85%);

	--border-radius: 50px;
	--btn-size: 30px;

	--font-medium: 500;
	--font-semi-bold: 600;

	--z-modal: 1000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

p,
body {
	margin: 0;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

body {
	height: 100%;
	font-family: var(--body-font);
	background-color: var(--body-color);
}

header {
	display: flex;
	flex-wrap: wrap;
	padding: 32.5px 0;
	row-gap: 1rem;
	column-gap: 0.5rem;
}

header > div {
	height: calc(var(--btn-size) + 10px);
	position: relative;
}

input,
select {
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	color: var(--title-color);
	padding: 0 calc(var(--btn-size) + 10px) 0 20px;
	border-radius: var(--border-radius);
	background-color: var(--accent-color);
	-webkit-appearance: none;
	text-align: center;
}

header > input {
	height: calc(var(--btn-size) + 10px);
	text-align: center;
	padding-right: 20px;
}

input[type="color"] {
	display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}
/* <--------------- HEADER ---------------> */
.type {
	flex-basis: 120px;
}

.year {
	flex-basis: 80px;
}

.search {
	flex-grow: 1;
	flex-basis: 180px;
}

.type .btn {
	pointer-events: none;
}

.btn {
	display: block;
	min-height: calc(var(--btn-size) + 10px);
	min-width: calc(var(--btn-size) + 10px);
	color: var(--title-color);
	text-align: center;
	background-color: var(--primary-color);
	line-height: var(--btn-size);
	font-size: calc(var(--btn-size) / 10 * 4);
	border-radius: var(--border-radius);
	position: relative;
	border: 5px solid var(--accent-color);
	cursor: pointer;
}

.inner {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
/* <--------------- DISPLAY ---------------> */
.grid {
	display: grid;
}

.container {
	margin: 0 auto;
	max-width: 1100px;
}

.movies {
	row-gap: 25px;
	min-height: calc(100vh - 210px);
	justify-content: space-between;
}

body.container {
	padding: 0 1rem;
}
/* <--------------- ERRORS ---------------> */
.error {
	display: block;
	font-size: 0.875rem;
	color: var(--text-color);
	text-align: center;
}

.movies .error {
	grid-column: 1 / -1;
	color: var(--font-color);
	align-self: center;
}

.search .error {
	padding: 0 calc(var(--btn-size) + 10px) 0 20px;
}

/* <--------------- POSTER ---------------> */
.poster {
	height: 360px;
	width: 200px;
	box-shadow: 4px 4px 4px #000000;
}

.poster-container {
	height: 300px;
	width: 100%;
	position: relative;
	display: grid;
	place-content: center;
}

.poster-container img {
	max-height: 300px;
	width: 100%;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}

.icon {
	color: var(--title-color);
}

.ribbon {
	position: absolute;
	opacity: 0.7;
	width: 30px;
	height: 45px;
	cursor: pointer;
	background-color: var(--accent-color);
	border-radius: 3px 0 0 0;
	clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 50% 80%, 0% 100%);
}

.ribbon .icon {
	font-size: 0.7rem;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.favorite {
	opacity: 1;
}

.ribbon:hover {
	opacity: 1;
	transition: 0.3s;
}

.title-container {
	height: 60px;
	width: 100%;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	text-transform: uppercase;
	font-weight: var(--font-medium);
	font-size: 0.825rem;
	word-wrap: break-word;
	color: var(--title-color);
	letter-spacing: 2px;
}

.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 7px 7px 0 0;
}

.backdrop::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
}

/* <--------------- PAGINATION ---------------> */
.pagination {
	display: flex;
	padding: 32.5px 0;
	justify-content: center;
}

.pagination a {
	height: var(--btn-size);
	width: var(--btn-size);
	color: var(--font-color);
	text-align: center;
	line-height: var(--btn-size);
	font-size: calc(var(--btn-size) / 10 * 4);
	border-radius: var(--border-radius);
}

.pagination a:not(:last-child) {
	margin-right: 0.25rem;
}

.pagination .item,
.pagination .prev,
.pagination .next {
	cursor: pointer;
}

.pagination .prev,
.pagination .next {
	color: var(--accent-color);
}

.pagination .active {
	color: var(--title-color);
	background-color: var(--primary-color);
}

.pagination .ellipsis {
	color: var(--accent-color);
}

.pagination a:not(.ellipsis):hover {
	color: var(--title-color);
	transition: 0.3s;
}

/* <--------------- UTILITY ---------------> */
.bg-primary {
	background-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-accent {
	background-color: var(--accent-color);
}

.pfb {
	position: fixed;
	bottom: 0;
	left: 0;
}
/* <--------------- MODAL ---------------> */
.modal {
	display: none;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-modal);
	background-color: var(--body-color);
	height: 100%;
	overflow-y: auto;
}

.modal .container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

.genres {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 6px;
}

.tag {
	font-size: 10px;
	color: var(--title-color);
	background-color: var(--primary-color);
	padding: 3px 6px;
	text-transform: uppercase;
}

.header {
	font-size: 3rem;
	text-transform: uppercase;
	color: var(--title-color);
	margin: 0.5rem 0 2rem;
	text-align: center;
	border-bottom: 1px solid var(--primary-color);
	letter-spacing: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.subheader {
	color: var(--primary-color);
}

.information {
	display: flex;
	justify-content: space-around;
}

.data {
	display: flex;
	flex-direction: column;
	color: var(--font-color);
	text-align: justify;
	width: clamp(45ch, 63%, 75ch);
}

.picture {
	max-width: 30%;
}

.picture .backdrop {
	display: none;
}

.subtitle {
	color: var(--accent-color);
}

.data > :not(:first-child) {
	margin-top: 1.4rem;
}

.plot p {
	overflow-y: auto;
}

.action {
	height: 40px;
	width: 100%;
	border: none;
	border-radius: 0 0 10px 10px;
	cursor: pointer;
	margin-top: 2rem;
	color: var(--title-color);
}

.close-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
	background-color: var(--primary-color);
	font-size: 10px;
	cursor: pointer;
	height: 22px;
	width: 22px;
	font-size: 10px;
}

.close-btn:hover {
	color: var(--title-color);
}

.nav {
	width: 100vw;
	height: 32px;
	background-color: var(--body-color);
	box-shadow: 4px 4px 4px #000000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-modal);
}

.nav-header {
	position: absolute;
	color: var(--title-color);
	top: 0;
	left: 0;
	width: 100%;

	height: 100%;
	display: flex;
	align-items: center;
}

.nav-header .nav-text {
	font-size: 0.875rem;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	white-space: nowrap;
	padding: 0 2rem;
	width: 100%;
}

.modal-open {
	overflow-y: hidden;
}

/* <--------------- LOADER ---------------> */
.loader {
	position: fixed;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
	border: 5px solid var(--accent-color);
	border-top: 5px solid var(--primary-color);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
	display: none;
	z-index: var(--z-modal);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.show {
	display: block;
}

/* <--------------- MEDIA QUERIES ---------------> */
/* <--------------- XS ---------------> */
@media screen and (max-width: 575px) {
	.type,
	.year {
		flex-grow: 1;
	}

	.clear,
	.favorites {
		order: 1;
	}

	.color {
		order: 2;
	}

	.search {
		order: 3;
	}

	.movies {
		grid-template-columns: repeat(auto-fit, calc(50% - 0.5rem));
	}

	.movies.film {
		grid-template-columns: 1fr;
	}

	.movies.film .poster {
		margin: 0 auto;
	}

	.poster {
		width: 100%;
	}
}

/* <--------------- SM ---------------> */
@media screen and (min-width: 576px) {
	.movies {
		grid-template-columns: repeat(auto-fill, 200px);
	}

	.display {
		display: none;
	}
}

/* <--------------- MODAL ---------------> */
@media screen and (max-width: 767px) {
	.genres,
	.header {
		padding: 0 1rem;
	}

	.header {
		font-size: 2rem;
	}

	.information {
		padding: 0 1rem;
		flex-direction: column;
	}

	.data {
		width: 100%;
		order: 2;
	}

	.picture {
		max-width: 100%;
		margin: 0 auto 1.4rem;
		order: 1;
	}

	.modal .container {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		overflow: auto;
		padding-top: 3rem;
	}

	.picture .backdrop {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
	}
}

/* <--------------- XL ---------------> */
@media screen and (min-width: 1200px) {
	body.container {
		padding: 0;
	}
}
