@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
	--body-font: "Poppins", sans-serif;

	--body-color: #12181b;
	--accent-color: #2e363f;
	--font-color: #b2becd;
	--title-color: #ffffff;
	--primary-color: #46a276;
	--secondary-color: #f9f871;

	--border-radius: 50px;
	--btn-size: 40px;

	--font-medium: 500;
	--font-semi-bold: 600;

	--z-modal: 1000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

p,
body {
	margin: 0;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

body {
	min-height: 100vh;
	font-family: var(--body-font);
	background-color: var(--body-color);
}

header {
	display: flex;
	padding: 27.5px 0;
}

header > div:not(:last-child) {
	margin-right: 1rem;
}
/* <--------------- HEADER ---------------> */
.search {
	flex-grow: 1;
}

.type,
.year {
	width: 150px;
}

.type,
.year,
.search {
	height: calc(var(--btn-size) + 10px);
	position: relative;
}

.type select {
	border: 0;
}

.year input,
.search input {
	border: none;
	outline: none;
	text-align: center;
}

.type select,
.year input,
.search input {
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	color: var(--title-color);
	padding: 0 calc(var(--btn-size) + 10px) 0 20px;
	border-radius: var(--border-radius);
	background-color: var(--accent-color);
}

.type .select-btn {
	pointer-events: none;
}

.search .search-btn {
	cursor: pointer;
}

.type .select-btn,
.search .search-btn,
.year .year-btn {
	position: absolute;
	top: 50%;
	right: 5px;
	height: var(--btn-size);
	width: var(--btn-size);
	color: var(--title-color);
	text-align: center;
	transform: translateY(-50%);
	background-color: var(--primary-color);
	line-height: var(--btn-size);
	font-size: calc(var(--btn-size) / 10 * 4);
	border-radius: var(--border-radius);
}

/* <--------------- DISPLAY ---------------> */
.grid {
	display: grid;
}

.container {
	margin: 0 auto;
	max-width: 1100px;
}

.movies {
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 25px;
}

/* <--------------- ERRORS ---------------> */
.error {
	display: block;
	font-size: 0.875rem;
	color: #d27c0c;
	text-align: center;
}

.search .error {
	padding-right: 50px;
	padding-left: 20px;
}

/* <--------------- POSTER ---------------> */
.poster {
	height: 360px;
	width: 200px;
	box-shadow: 4px 4px 4px #000000;
}

.poster-container {
	height: 300px;
	width: 100%;
	position: relative;
}

.poster-container img {
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.icon {
	color: var(--title-color);
}

.ribbon {
	position: absolute;
	opacity: 0.7;
	width: 30px;
	height: 45px;
	cursor: pointer;
	background-color: var(--accent-color);
	clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 50% 80%, 0% 100%);
}

.ribbon .icon {
	font-size: 0.7rem;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.favorite {
	opacity: 1;
}

.ribbon:hover {
	opacity: 1;
	transition: 0.3s;
}

.title-container {
	height: 60px;
	width: 100%;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--accent-color);
}

.title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	text-transform: uppercase;
	font-weight: var(--font-medium);
	font-size: 0.825rem;
	color: var(--title-color);
}

/* <--------------- PAGINATION ---------------> */
.pagination {
	display: flex;
	margin: 32.5px 0;
	justify-content: center;
}

.pagination a {
	height: var(--btn-size);
	width: var(--btn-size);
	color: var(--font-color);
	text-align: center;
	line-height: var(--btn-size);
	font-size: calc(var(--btn-size) / 10 * 4);
	border-radius: var(--border-radius);
}

.pagination a:not(:last-child) {
	margin-right: 0.25rem;
}

.pagination .item,
.pagination .prev,
.pagination .next {
	cursor: pointer;
}

.pagination .prev,
.pagination .next {
	color: var(--accent-color);
}

.pagination .active {
	color: var(--title-color);
	background-color: var(--primary-color);
}

.pagination .ellipsis {
	color: var(--accent-color);
}

.pagination a:not(.ellipsis):hover {
	color: var(--title-color);
	transition: 0.3s;
}
