@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
	--body-font: "Poppins", sans-serif;

	--body-color: #12181b;
	--accent-color: #2e363f;
	--font-color: #b2becd;
	--title-color: #ffffff;
	--primary-color: #46a276;
	--secondary-color: #f9f871;

	--border-radius: 50px;
	--btn-size: 30px;

	--font-medium: 500;
	--font-semi-bold: 600;

	--z-modal: 1000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

p,
body {
	margin: 0;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

body {
	min-height: 100vh;
	font-family: var(--body-font);
	background-color: var(--body-color);
}

header {
	display: flex;
	padding: 32.5px 0;
}

header > div:not(:last-child) {
	margin-right: 1rem;
}
/* <--------------- HEADER ---------------> */
.search {
	flex-grow: 1;
}

.type,
.year {
	width: 150px;
}

.type,
.year,
.search {
	height: calc(var(--btn-size) + 10px);
	position: relative;
}

.type select {
	border: 0;
}

.year input,
.search input {
	border: none;
	outline: none;
	text-align: center;
}

.type select,
.year input,
.search input {
	width: 100%;
	height: 100%;
	font-size: 1rem;
	color: var(--title-color);
	padding: 0 calc(var(--btn-size) + 10px) 0 20px;
	border-radius: var(--border-radius);
	background-color: var(--accent-color);
}

.type .select-btn {
	pointer-events: none;
}

.search .search-btn {
	cursor: pointer;
}

.type .select-btn,
.search .search-btn,
.year .year-btn {
	position: absolute;
	top: 50%;
	right: 5px;
	height: var(--btn-size);
	width: var(--btn-size);
	color: var(--title-color);
	text-align: center;
	transform: translateY(-50%);
	background-color: var(--primary-color);
	line-height: var(--btn-size);
	font-size: calc(var(--btn-size) / 10 * 4);
	border-radius: var(--border-radius);
}

/* <--------------- DISPLAY ---------------> */
.grid {
	display: grid;
}

.container {
	margin: 0 auto;
	max-width: 1100px;
}

.movies {
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 25px;
}

/* <--------------- ERRORS ---------------> */
.error {
	display: block;
	font-size: 0.875rem;
	color: #d27c0c;
	text-align: center;
}

.search .error {
	padding-right: 50px;
	padding-left: 20px;
}

/* <--------------- POSTER ---------------> */
.poster {
	height: 360px;
	width: 200px;
	box-shadow: 4px 4px 4px #000000;
}

.poster-container {
	height: 300px;
	width: 100%;
	position: relative;
	display: grid;
	place-content: center;
}

.poster-container img {
	max-height: 100%;
	width: 100%;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}

.icon {
	color: var(--title-color);
}

.ribbon {
	position: absolute;
	opacity: 0.7;
	width: 30px;
	height: 45px;
	cursor: pointer;
	background-color: var(--accent-color);
	border-radius: 3px 0 0 0;
	clip-path: polygon(0% 0%, 100% 0px, 100% 100%, 50% 80%, 0% 100%);
}

.ribbon .icon {
	font-size: 0.7rem;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.favorite {
	opacity: 1;
}

.ribbon:hover {
	opacity: 1;
	transition: 0.3s;
}

.title-container {
	height: 60px;
	width: 100%;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	text-transform: uppercase;
	font-weight: var(--font-medium);
	font-size: 0.825rem;
	color: var(--title-color);
	letter-spacing: 2px;
}

.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 7px 7px 0 0;
}

.backdrop::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.85);
}

/* <--------------- PAGINATION ---------------> */
.pagination {
	display: flex;
	margin: 32.5px 0;
	justify-content: center;
}

.pagination a {
	height: var(--btn-size);
	width: var(--btn-size);
	color: var(--font-color);
	text-align: center;
	line-height: var(--btn-size);
	font-size: calc(var(--btn-size) / 10 * 4);
	border-radius: var(--border-radius);
}

.pagination a:not(:last-child) {
	margin-right: 0.25rem;
}

.pagination .item,
.pagination .prev,
.pagination .next {
	cursor: pointer;
}

.pagination .prev,
.pagination .next {
	color: var(--accent-color);
}

.pagination .active {
	color: var(--title-color);
	background-color: var(--primary-color);
}

.pagination .ellipsis {
	color: var(--accent-color);
}

.pagination a:not(.ellipsis):hover {
	color: var(--title-color);
	transition: 0.3s;
}

/* <--------------- FAVORITES ---------------> */
.favorites,
.clear {
	position: relative;
	height: calc(var(--btn-size) + 10px);
	width: calc(var(--btn-size) + 10px);
	background-color: var(--accent-color);
	border-radius: 50px;
}

.favorites-btn,
.clear-btn {
	margin: 5px 0;
	height: var(--btn-size);
	width: var(--btn-size);
	color: var(--title-color);
	background-color: var(--primary-color);
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	position: absolute;
	left: 5px;
	font-size: calc(var(--btn-size) / 10 * 4);
}

.bg-primary {
	background-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-accent {
	background-color: var(--accent-color);
}

/* <--------------- MODAL ---------------> */
.modal {
	display: none;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-modal);
	background-color: var(--body-color);
}

.modal .container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
}

.genres {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.tag {
	font-size: 10px;
	color: white;
	background-color: var(--primary-color);
	padding: 3px 6px;
	margin: 3px;
	text-transform: uppercase;
}

.header {
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--title-color);
	margin: 0.5rem 0 2rem;
	text-align: center;
	border-bottom: 1px solid var(--primary-color);
	letter-spacing: 3px;
}

.subheader {
	color: var(--primary-color);
}

.information {
	display: flex;
	justify-content: space-around;
}

.data {
	display: flex;
	flex-direction: column;
	color: var(--font-color);
	text-align: justify;
	width: clamp(45ch, 63%, 75ch);
}

.picture {
	max-width: 30%;
}

.subtitle {
	color: var(--accent-color);
}

.data > p:not(:first-child) {
	margin-top: 1.4rem;
}

.action {
	height: 40px;
	width: 100%;
	border: none;
	border-radius: 0 0 10px 10px;
	cursor: pointer;
	margin-top: 2rem;
	color: var(--title-color);
}

.action.bg-primary:hover {
	background-color: var(--accent-color);
	transition: 0.3s;
}

.action.bg-accent:hover {
	background-color: var(--primary-color);
	transition: 0.3s;
}

.close-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
	background-color: var(--primary-color);
	font-size: 1rem;
	cursor: pointer;
}

.close-btn:hover {
	color: var(--title-color);
}

/* <--------------- LOADER ---------------> */
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid var(--accent-color);
	border-top: 5px solid var(--primary-color);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
	display: none;
	z-index: var(--z-modal);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.show {
	display: block;
}

/* <--------------- MEDIA QUERIES ---------------> */
/* <--------------- XS ---------------> */
@media screen and (max-width: 575px) {
	header {
		padding-left: 1rem;
		flex-wrap: wrap;
	}

	header > div {
		margin: 0.7rem 0;
	}

	.type,
	.year {
		flex-grow: 1;
	}

	.search .error {
		padding: 0;
	}

	.favorites {
		margin-right: 1rem;
	}

	.movies {
		padding: 0 1rem;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}

	.poster {
		width: 100%;
		height: 100%;
	}
}

/* <--------------- SM ---------------> */
@media screen and (min-width: 576px) {
	.container {
		padding: 0 1rem;
	}

	.movies {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
	}
}

/* <--------------- MODAL ---------------> */
@media screen and (max-width: 768px) {
	.modal {
		max-height: 100%;
		overflow-y: auto;
	}

	.modal .container {
		margin-top: 49px;
	}

	.information {
		padding: 0 1rem;
		flex-direction: column;
	}

	.data {
		width: 100%;
		order: 2;
	}

	.picture {
		max-width: 100%;
		margin: 0 auto 1.4rem;
		order: 1;
	}

	.close-btn {
		height: 22px;
		width: 22px;
		font-size: 10px;
	}
}

/* <--------------- MD ---------------> */
@media screen and (min-width: 768px) {
	.movies {
		grid-template-columns: repeat(3, max-content);
		grid-gap: 4rem;
		min-height: calc(100vh - 210px);
	}
}

/* <--------------- LG ---------------> */
@media screen and (min-width: 992px) {
	.movies {
		grid-template-columns: repeat(4, max-content);
	}
}

/* <--------------- XL ---------------> */
@media screen and (min-width: 1200px) {
	.container {
		padding: 0;
	}

	.movies {
		grid-template-columns: repeat(5, max-content);
		grid-gap: 25px;
	}
}
